.Home {
  margin-bottom: 50px;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .lander div {
  padding-top: 20px;
}

.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .page-header {
  margin-bottom: 0px;
}

.Home .photos {
  margin-bottom: 50px;
}

.Home .photos h1 {
  font-family: "Open Sans", sans-serif;
}

.Home .photos h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home button.LoaderButton.btn.btn-lg.btn-primary.btn-block {
  width: 100px;
}

.logout-link {
  float: right;
  color: rgba(119, 119, 119);
  font-size: 16px;
  margin-top: 20px;
}

.logout-link:hover {
  cursor: pointer;
  color: black;
}
