.photos-grid div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos div:last-child div * {
  margin: 10px;
  width: 250px;
  height: 250px;
  display: inline-block;
}

@media (max-width : 767px) {
  .photos {
    max-width: 90%;
  }
}
